{% extends 'base.html' %}

{% block content %}

<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Only Authorized Access Beyond This Point</h1>
            </div>
        </div>
    </div>
</section>
<section class="text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
               <p>Unathorized patrons may request key by signing up.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}